In [15]:
import pandas as pd

In [105]:
df = pd.read_csv('clean_unemployment.csv')

In [108]:
df = df[df['unemployment'] > 8.5]
df.head()

    date  unemployment
34  1982      9.708333
35  1983      9.600000
61  2009      9.283333
62  2010      9.608333
63  2011      8.933333