In [15]:
import pandas as pd

In [74]:
df = pd.read_csv("India_unemployment_data.csv")

In [75]:
df.head()

,Sl.No,State/UT,UR % - 2012-13 - SC,UR % - 2012-13 - ST,UR % - 2013-14 - SC,UR % - 2013-14 - ST,UR % - 2015-16 - SC,UR % - 2015-16 - ST
0,1,Andhra Pradesh,2.5,0.7,4.2,1.3,1.9,3.9
1,2,Aru5.3chal Pradesh,5.4,10.4,11.2,5.6,4.2,4.0
2,3,Assam,5.0,3.3,2.1,3.2,4.0,3.0
3,4,Bihar,4.0,3.3,3.1,4.9,2.1,7.4
4,5,Chhattisgarh,1.2,0.7,1.8,1.7,0.9,0.3

In [76]:
df = df.drop(columns = ['Sl.No'])

In [91]:
df[["UR % - 2012-13 - SC","UR % - 2012-13 - ST"]]

TypeError: '>' not supported between instances of 'list' and 'int'

In [52]:
df.head()

,UR % - 2012-13 - SC,UR % - 2012-13 - ST,UR % - 2013-14 - SC,UR % - 2013-14 - ST,UR % - 2015-16 - SC,UR % - 2015-16 - ST
0,2.5,0.7,4.2,1.3,1.9,3.9
1,5.4,10.4,11.2,5.6,4.2,4.0
2,5.0,3.3,2.1,3.2,4.0,3.0
3,4.0,3.3,3.1,4.9,2.1,7.4
4,1.2,0.7,1.8,1.7,0.9,0.3